<h1>Welcome to Blog</h1>
<%= link_to 'My Blog', controller: 'articles' %>
<% if @user %>
	<%= link_to 'Logout', '/logout' %>
<% else %>
  <%= link_to 'Login', '/login' %>
  <%= link_to 'Signup', '/signup' %>
<% end%>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
    </tr>
  <% end %>
</table>
